RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www.unvis.it$ [NC]
RewriteRule ^(.*)$ http://unvis.it/$1 [R=301,L]



RewriteCond 	%{REQUEST_FILENAME} !-d
RewriteCond 	%{REQUEST_FILENAME} !-f
RewriteCond 	%{REQUEST_FILENAME} !-l

RewriteRule 	^(.*)$  /index.php?u=$1 				[NE,L,QSA]
RewriteCond 	%{QUERY_STRING} ^(.*&)?u=([^&]+)(&.*)?$ 		[NC] 
RewriteRule 	^$ /%2? 								[R=301,L,NE] 

<IfModule mod_expires.c>
	<FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
		ExpiresActive On
		ExpiresDefault "access plus 10 years"
	</FilesMatch>
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*\.(js|css))$ smartoptimizer/?$1
	
	<IfModule mod_expires.c>
		RewriteCond %{REQUEST_FILENAME} -f
		RewriteRule ^(.*\.(js|css|html?|xml|txt))$ smartoptimizer/?$1
	</IfModule>

	<IfModule !mod_expires.c>
		RewriteCond %{REQUEST_FILENAME} -f
		RewriteRule ^(.*\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico))$ smartoptimizer/?$1
	</IfModule>
</IfModule>
<FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
	FileETag none
</FilesMatch>